@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clase global para títulos */
@layer components {
  .title {
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 2px red;
    text-align: center;
    margin-top: 10px;
    font-size: 80px;
  }
  .paragraph{
    font-family: "Irish Grover", cursive;
    -webkit-text-stroke: 1px yellow;   
    -webkit-text-fill-color: purple;  
    color: purple;                     
    text-align: left;
    font-weight: bold;
  }
  .form-bg{
    background-color:rgb(227, 3, 138);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
 
  .buttons {
    background-color: orangered;
    padding: 6px 20px;
    border-radius: 15px;
    color: gold;
    justify-content: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }

  .buttons:hover{
    background-color: gold;
    color:orangered
  }

  
  .form-2 {
  background: linear-gradient(
    90deg,                /* Ángulo del gradiente */
    rgb(219, 45, 26) 25%,
    rgb(7, 171, 37) 50%,
    rgb(219, 45, 26) 75%,
    rgb(7, 171, 37) 100%
  );
  border-radius: 30px;
  background-position: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;  
  width: 300px;  
}
 .model{
    background-image: url('/buttoms/navidad_3.jpg')
}

.password{
  background-image: url('/buttoms/navidad_5.jpg')
}

/* Estilo global para el fondo del body */
body {
  @apply m-0 min-h-screen;
  background-image: 
    linear-gradient(rgba(1, 50, 125,0.7)),
    url("/buttoms/navidad_6.jpg");
  /*background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 1),
    rgba(192, 132, 252, 1) 22%,
    rgba(253, 253, 150, 1) 42%,
    rgba(192, 192, 192, 1) 61%,
    rgba(79, 209, 147, 1) 81%,
    rgba(252, 82, 82, 1) 100%
    );*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  
}

