@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clase global para títulos */
@layer components {
  .title {
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 2px red;
    text-align: center;
    margin-top: 10px;
    font-size: 80px;
  }
  .paragraph{
    font-family: "Irish Grover", cursive;
    -webkit-text-stroke: 1px yellow;   
    -webkit-text-fill-color: purple;  
    color: purple;                     
    text-align: left;
    font-weight: bold;
  }
  .form-bg{
    background-color:rgb(227, 3, 138);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  {/*Boton de agregar al carro*/}

  .car-button{
    color:purple;
    background-color: gold;
    padding: 10px;
    border-radius: 30px;
    -ms-flex-align: center;
  }

  .car-button:hover{
    scale: calc(1.2);
    cursor: pointer;
  }

  {/*Botones de barar de menú*/}

  .menu:hover{
    background-color: gold;
    color: blue;
    border-radius: 4px;
    user-select: none;
    scale: calc(1.1);
  }
 
  .href-link:hover{
    color: gold;
    scale:calc(1.2);
  }

  .text-link:hover{
    background-color: gold;
    color: blueviolet;
    border-radius: 8px;
  }
  
  
  .form-button {
  background-color: gold;
  border-radius: 30px;
  background-position: center;
  justify-content: center; 
  width: 100px;
  color:black  
}

.form-button:hover{
  background-color: black;
  color:gold
}
 .model{
    background-image: url('/buttoms/navidad_3.jpg')
}

.password{
  background-image: url('/buttoms/navidad_5.jpg')
}

.title-buy{
  -webkit-text-fill-color: rgb(204, 0, 255);
  -webkit-text-stroke: 2px rgb(0, 17, 255);
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
}

.buy-form{
  background: linear-gradient(
    135deg,
    rgb(255,25,10)25%,
    rgb(0, 46, 251)50%,
    rgb(255,25,10)100%,
    rgb(0,46,251)100%
  );
  width: max-content;
  background-repeat: no-repeat;
  color: yellow;
  padding: 16px;
  margin: auto
}

.profile-form{
  background-color: rgb(1, 99, 211);
  color:azure;
  width: max-content;
  margin-top: 36px;
  justify-content: center;
  padding: 40px
}
/* Estilo global para el fondo del body */
body {
  @apply m-0 min-h-screen;
  background-image: 
    linear-gradient(rgba(1, 50, 125,0.7)),
    url("/buttoms/navidad_6.jpg");
  /*background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 1),
    rgba(192, 132, 252, 1) 22%,
    rgba(253, 253, 150, 1) 42%,
    rgba(192, 192, 192, 1) 61%,
    rgba(79, 209, 147, 1) 81%,
    rgba(252, 82, 82, 1) 100%
    );*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  
}

