@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clase global para títulos */
@layer components {
  .title {
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 2px red;
    text-align: center;
    margin-top: 10px;
    font-size: 80px;
  }
  .hover{
    @apply hover:bg-[rgba(255,215,0,1)] hover:text-purple-900 px-4 py-2 rounded transition duration-300;
  }

  .paragraph{
    font-family: "Irish Grover", cursive;
    -webkit-text-stroke: 1px yellow;   
    -webkit-text-fill-color: purple;  
    color: purple;                     
    text-align: left;
    font-weight: bold;
  }
  .form-bg{
    background-image: url("/buttoms/navidad_3.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}
/* Estilo global para el fondo del body */
body {
  @apply m-0 min-h-screen;
  background-image: 
  linear-gradient(rgba(138, 6, 6, 0.6), rgba(30, 29, 29, 0.6)),
  url("/bottoms/navidad_2.jpg");

  background-image: url("/buttoms/navidad_1.jpg");
  /*background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 1),
    rgba(192, 132, 252, 1) 22%,
    rgba(253, 253, 150, 1) 42%,
    rgba(192, 192, 192, 1) 61%,
    rgba(79, 209, 147, 1) 81%,
    rgba(252, 82, 82, 1) 100%
  );*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}




